<div class="container full-height">
  <h3>My profile</h3>
  <% @collections.each do |collection| %>
    <% if collection.photo.attached? %>
      <%= cl_image_tag collection.photo.key, height: 252, width: 252, crop: :fill %>
    <% else %>
      <div class="card-collection mt-3">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-collection-infos">
          <h2> <%= link_to collection.title, collection_path(collection) %> </h2>
          <p>Collection description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
