<div class="container full-height d-flex align-items-center>
  <div class="container">
    <div class="container-import">
      <h2 class="text-center">Upload your score here</h2>
      <%= render "form" %>
    </div>
  </div>
</div>
 