<div class="card-collection">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-collection-infos">
    <h2>Collection name</h2>
    <p>Collection description with <strong>relevant info</strong> only.</p>
  </div>
</div>

