<div class="footer">
  <div class="footer-links">
    <a href="#" target="_blank"><p>Terms of service</p></a>
    <a href="#" target="_blank"><p>Help Center</p></a>
    <a href="#" target="_blank"><p>Privacy Policy</p></a>
  </div>
  <div class="footer-copyright text-dark">Made with <i class="fas fa-music"></i> by Wolfgang <i class="far fa-copyright"></i> 2020</div>
</div>
