.login-banner {
    padding: 150px;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5));
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: -60px;
  }

  .login-box {
    padding: 50px;
    border-radius: 20px;
    color: white;
  }