.login-btn {
    background-color: #ffb700;
    border: 1px solid #ffb700;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    height: 40px;
    padding: 0 30px;
    text-decoration: none;
  }