.login-btn {
    background-color: #ffb700;
    border: 1px solid #ffb700;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    height: 40px;
    padding: 0 30px;
    text-decoration: none;
  }
/* Start btn */

.btn-ghost {
  color: black;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: medium;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: transparent;
}

.btn-ghost:hover {
  opacity: 1;
}

input[type=file]::-webkit-file-upload-button {
  border: 1px solid #ffb700;
  background: #ffb700;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 2%;
  padding: 6px 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

input[type=file]::-webkit-file-upload-button:hover {
  background-color: #ffb700c9;
  transition: background-color .4s
}

.form-control-file, .form-control-range {
  color: #ffb700;
}
/* End btn */
