.container-card {
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
  display: flex;
}

.container-card-main {
  box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.centered-div {
  margin: 0 auto;
  width: 60% /* value of your choice which suits your alignment */
}

// .container-import {
//   margin-top: 5.5rem !important;
//   margin-bottom: 5.5rem !important;
//   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
//   padding: 3rem !important;
//   box-sizing: border-box;
// }
