.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-link {
  color: #343a40
}

.navbar-link:hover {
  transition: box-shadow .4s;
  box-shadow: 0 4px 0 0 rgb(255, 183, 0);
  text-decoration: none;
  color: rgb(255, 183, 0) !important;
}

.navbar-active {
  color: #000 !important;
}
