input.searchbar {
  appearance: none;
  background-color: #fff;
  background-image: none;
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 4px;
  box-shadow: rgba(0,0,0,.2) 0 1px 10px,rgba(0,0,0,.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #8f94ad;
  height: 100%;
}

.search-row {
  margin-top: 50px;
  align-items: center;
}
