#viewer {
  position: relative;

  #canvas {
    position: absolute;
    height: 100vh;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    z-index: 99;
  }
  img {
    position: absolute;
    height: 100vh;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
  }
  #zone {
    position: relative;
    height: 100vh;
    transform: translateX(-50%);
    left: 50%;
    width: 50%;
  }
  #previous, #next {
    width: 25%;
    position: absolute;
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
  }
  #previous {
    left: 0px;
  }
  #next {
    right: 0px;
  }
  #save {
    position: absolute;
    top: 0px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 100;
  }
}


