#viewer {
  position: relative;

  #canvas {
    position: absolute;
    height: 100vh;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    z-index: 99;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  #zone {
    position: relative;
    height: calc(100vh - 111px);
    width: 100vw;
    z-index: 1;
    background: white;
  }
  #previous, #next {
    width: 15%;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: 2;
  }
  #previous {
    left: 0px;
  }
  #next {
    right: 0px;
  }
  #save {
    position: absolute;
    top: 0px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 100;
  }

  #tools {
    border-radius: 30px;
    box-shadow: rgba(0,0,0,.1) 0 2px 5px;
    padding: 10px 10px 10px 10px;
    bottom: -10px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    z-index: 100;
    background-color: white;

    button{
      background-color: transparent;
      border: transparent;
      &:focus {
        outline:0;
      }
    }
  }
}


