#viewer {
  position: relative;

  #canvas {
    position: absolute;
    height: 100vh;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    z-index: 99;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  #zone {
    position: relative;
    height: calc(100vh - 111px);
    width: 100vw;
    z-index: 1;
    background: white;
  }
  #previous, #next {
    width: 15%;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: 2;
  }
  #previous {
    left: 0px;
  }
  #next {
    right: 0px;
  }
  #save {
    position: absolute;
    top: 0px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 100;
  }

  #tools {
    position: absolute;
    border-radius: 30px;
    box-shadow: rgba(0,0,0,.1) 0 2px 5px;
    padding: 10px 12px 10px 12px;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 100;
    background-color: white;

    button {
      background-color: transparent;
      border: transparent;
      margin-right: 15px;
      &:focus {
        outline:0;
      }
    }
  }
  #share-btn {
    position: absolute;
    bottom: 10px;
    right: 25%;
    z-index: 100;
    border: none;
    #share {
      border-radius: 50%;
      padding: 8px 10px 8px 10px;
      border: none;
      background-color: transparent;
      color: #363636;
    }
    #share:focus{
      outline:0;
    }
  }

  #info-btn {
    position: absolute;
    bottom: 10px;
    right: 18%;
    z-index: 100;
    border: none;
    #info {
      border-radius: 50%;
      padding: 8px 10px 8px 10px;
      border: none;
      background-color: transparent;
      color: #363636;
    }
    #info:focus{
      outline:0;
    }
  }

  .setting-btn {
    position: absolute;
    bottom: 10px;
    right: 70%;
    z-index: 100;
    border: none;
    #setting {
      border-radius: 50%;
      padding: 8px 10px 8px 10px;
      border: none;
      background-color: transparent;
      color: #363636;
    }
    #setting:focus{
      outline:0;
    }
  }

  #dropdown-settings {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    transform: none !important;
    left: 1% !important;
    bottom: 0 !important;
    top: auto !important;
    a {
          color: white !important;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }

}


