a {
  text-decoration: none !important;
  color: #212529 !important;
    &:hover{
        text-decoration: none !important;
        color: #212529 !important;
    }
}
.score-card {
  position: relative;
  text-align: center;
  width: 200px;
  height: 260px;
  font-family: system-ui;
  margin: auto;
  overflow: hidden;
  color: #212529 !important;
  .cover {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 240px;
    border-radius: 15px;
  }
  span {
    font-size: 13px;
    line-height: 5px !important;
  }

  .score-details {
    display: none;
    margin: 0 auto;
    h4 {
      margin: 0px;
      font-size: 14px !important;
    }
  }
}

.card-score{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: none;
}

.card-collection {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-collection img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-collection h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-collection p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-collection .card-collection-infos {
  padding: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-img {
  height: 160px;
  margin: auto;
  width: 160px;
}

.collab_thumbnail {
  position: absolute;
  top: 5px;
  right: 5px;
}





